.features-p-txt {
    line-height: 1.5;
    color: #434455;}
    .features-h3-txt{line-height: 1.2;}
        .features-list {
            display: flex;
            gap: 24px;}
                .features-list li {
                    width: calc((100% - 72px) / 4);}
                .sr-only {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;       
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;}
.features-h3-txt {
    margin-bottom: 8px;}